In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path
from tqdm import tqdm

In [9]:
#NUM_TRAIN = 2 # 139256
#
#data_dir = Path('../raw_data/AI4Code')
#
#def read_notebook(path):
#    return (
#        pd.read_json(
#            path,
#            dtype={'cell_type': 'category', 'source': 'str'})
#        .assign(id=path.stem)
#        .rename_axis('cell_id')
#    )
#
#paths_train = list((data_dir / 'train_data').glob('*.json'))[:NUM_TRAIN]
#notebooks_train = [read_notebook(path) for path in tqdm(paths_train, desc='Train NBs')]
#df = pd.concat(notebooks_train).set_index('id', append=True).swaplevel().reset_index()
#df

Train NBs: 100%|██████████| 2/2 [00:00<00:00, 598.42it/s]

,id,cell_id,cell_type,source
0,8f1d0a3e812ccb,02373f0f,code,import numpy as np \nimport pandas as pd\nimpo...
1,8f1d0a3e812ccb,7eee6f0d,code,# training data\ntrain_dts = pd.read_csv('../i...
2,8f1d0a3e812ccb,e38ca82d,code,# test data\ntest_dts = pd.read_csv('../input/...
3,8f1d0a3e812ccb,9376e7b4,code,female = train_dts.loc[train_dts.Sex=='female'...
4,8f1d0a3e812ccb,dfdb7c2c,code,print('Shape of Training Set : {}'.format(trai...
...,...,...,...,...
85,7d20cab1ed935c,c6fc6d48,markdown,## Please upvote if you find help
86,7d20cab1ed935c,134bc533,markdown,\nWe only want to keep the Avengers who were i...
87,7d20cab1ed935c,d0ed365b,markdown,# Consolidating Deaths
88,7d20cab1ed935c,a5ea8b96,markdown,The team at FiveThirtyEight wanted to dissect ...
89,7d20cab1ed935c,40daeba3,markdown,We are interested in the number of total death...

In [53]:
df = pd.read_csv(f'../data/train_10k.csv')
df['rank'] = 0
df.head()

,cell_id,id,cell_type,source,rank
0,1862f0a6,00001756c60be8,code,# This Python 3 environment comes with many he...,0
1,2a9e43d6,00001756c60be8,code,import numpy as np\nimport pandas as pd\nimpor...,0
2,038b763d,00001756c60be8,code,import warnings\nwarnings.filterwarnings('igno...,0
3,2eefe0ef,00001756c60be8,code,matplotlib.rcParams.update({'font.size': 14}),0
4,0beab1cd,00001756c60be8,code,"def evaluate_preds(train_true_values, train_pr...",0

In [81]:
df_orders = pd.read_csv('../raw_data/AI4Code/train_orders.csv', nrows=10000,index_col='id')
df_orders['liste'] = df_orders['cell_order'].str.split()
df_orders.head()

,cell_order,liste
id,,
00001756c60be8,1862f0a6 448eb224 2a9e43d6 7e2f170a 038b763d 7...,"[1862f0a6, 448eb224, 2a9e43d6, 7e2f170a, 038b7..."
00015c83e2717b,2e94bd7a 3e99dee9 b5e286ea da4f7550 c417225b 5...,"[2e94bd7a, 3e99dee9, b5e286ea, da4f7550, c4172..."
0001bdd4021779,3fdc37be 073782ca 8ea7263c 80543cd8 38310c80 0...,"[3fdc37be, 073782ca, 8ea7263c, 80543cd8, 38310..."
0001daf4c2c76d,97266564 a898e555 86605076 76cc2642 ef279279 d...,"[97266564, a898e555, 86605076, 76cc2642, ef279..."
0002115f48f982,9ec225f0 18281c6c e3b6b115 4a044c54 365fe576 a...,"[9ec225f0, 18281c6c, e3b6b115, 4a044c54, 365fe..."

In [111]:
df_orders10 = df_orders[:10]
df_copy = df.copy()

In [122]:
for i,liste in enumerate(df_orders['liste']):
    #if i%10 == 0:
        #print(i/100, '%')
    for j,cell in enumerate(liste):
        df.loc[df['cell_id']==cell ,'rank']=j

0.0 %
0.1 %
0.2 %
0.3 %
0.4 %
0.5 %
0.6 %
0.7 %
0.8 %
0.9 %
1.0 %
1.1 %
1.2 %
1.3 %
1.4 %
1.5 %
1.6 %
1.7 %
1.8 %
1.9 %
2.0 %
2.1 %
2.2 %
2.3 %
2.4 %
2.5 %
2.6 %
2.7 %
2.8 %
2.9 %
3.0 %
3.1 %
3.2 %
3.3 %
3.4 %
3.5 %
3.6 %
3.7 %
3.8 %
3.9 %
4.0 %
4.1 %
4.2 %
4.3 %
4.4 %
4.5 %
4.6 %
4.7 %
4.8 %
4.9 %
5.0 %
5.1 %
5.2 %
5.3 %
5.4 %
5.5 %
5.6 %
5.7 %
5.8 %
5.9 %
6.0 %
6.1 %
6.2 %
6.3 %
6.4 %
6.5 %
6.6 %
6.7 %
6.8 %
6.9 %
7.0 %
7.1 %
7.2 %
7.3 %
7.4 %
7.5 %
7.6 %
7.7 %
7.8 %
7.9 %
8.0 %
8.1 %
8.2 %
8.3 %
8.4 %
8.5 %
8.6 %
8.7 %
8.8 %
8.9 %
9.0 %
9.1 %
9.2 %
9.3 %
9.4 %
9.5 %
9.6 %
9.7 %
9.8 %
9.9 %
10.0 %
10.1 %
10.2 %
10.3 %
10.4 %
10.5 %
10.6 %
10.7 %
10.8 %
10.9 %
11.0 %
11.1 %
11.2 %
11.3 %
11.4 %
11.5 %
11.6 %
11.7 %
11.8 %
11.9 %
12.0 %
12.1 %
12.2 %
12.3 %
12.4 %
12.5 %
12.6 %
12.7 %
12.8 %
12.9 %
13.0 %
13.1 %
13.2 %
13.3 %
13.4 %
13.5 %
13.6 %
13.7 %
13.8 %
13.9 %
14.0 %
14.1 %
14.2 %
14.3 %
14.4 %
14.5 %
14.6 %
14.7 %
14.8 %
14.9 %
15.0 %
15.1 %
15.2 %
15.3 %
15.4 %
15.5 %
15.6 %
15.7 %
15.8 %
15.9 %
16.0 %
16.1 %
16.2 %
16.3 %
16.4 %
16.5 %
16.6 %
16.7 %
16.8 %
16.9 %
17.0 %
17.1 %
17.2 %
17.3 %
17.4 %
17.5 %
17.6 %
17.7 %
17.8 %
17.9 %
18.0 %
18.1 %
18.2 %
18.3 %
18.4 %
18.5 %
18.6 %
18.7 %
18.8 %
18.9 %
19.0 %
19.1 %
19.2 %
19.3 %
19.4 %
19.5 %
19.6 %
19.7 %
19.8 %
19.9 %
20.0 %
20.1 %
20.2 %
20.3 %
20.4 %
20.5 %
20.6 %
20.7 %
20.8 %
20.9 %
21.0 %
21.1 %
21.2 %
21.3 %
21.4 %
21.5 %
21.6 %
21.7 %
21.8 %
21.9 %
22.0 %
22.1 %
22.2 %
22.3 %
22.4 %
22.5 %
22.6 %
22.7 %
22.8 %
22.9 %
23.0 %
23.1 %
23.2 %
23.3 %
23.4 %
23.5 %
23.6 %
23.7 %
23.8 %
23.9 %
24.0 %
24.1 %
24.2 %
24.3 %
24.4 %
24.5 %
24.6 %
24.7 %
24.8 %
24.9 %
25.0 %
25.1 %
25.2 %
25.3 %
25.4 %
25.5 %
25.6 %
25.7 %
25.8 %
25.9 %
26.0 %
26.1 %
26.2 %
26.3 %
26.4 %
26.5 %
26.6 %
26.7 %
26.8 %
26.9 %
27.0 %
27.1 %
27.2 %
27.3 %
27.4 %
27.5 %
27.6 %
27.7 %
27.8 %
27.9 %
28.0 %
28.1 %
28.2 %
28.3 %
28.4 %
28.5 %
28.6 %
28.7 %
28.8 %
28.9 %
29.0 %
29.1 %
29.2 %
29.3 %
29.4 %
29.5 %
29.6 %
29.7 %
29.8 %
29.9 %
30.0 %
30.1 %
30.2 %
30.3 %
30.4 %
30.5 %
30.6 %
30.7 %
30.8 %
30.9 %
31.0 %
31.1 %
31.2 %
31.3 %
31.4 %
31.5 %
31.6 %
31.7 %
31.8 %
31.9 %
32.0 %
32.1 %
32.2 %
32.3 %
32.4 %
32.5 %
32.6 %
32.7 %
32.8 %
32.9 %
33.0 %
33.1 %
33.2 %
33.3 %
33.4 %
33.5 %
33.6 %
33.7 %
33.8 %
33.9 %
34.0 %
34.1 %
34.2 %
34.3 %
34.4 %
34.5 %
34.6 %
34.7 %
34.8 %
34.9 %
35.0 %
35.1 %
35.2 %
35.3 %
35.4 %
35.5 %
35.6 %
35.7 %
35.8 %
35.9 %
36.0 %
36.1 %
36.2 %
36.3 %
36.4 %
36.5 %
36.6 %
36.7 %
36.8 %
36.9 %
37.0 %
37.1 %
37.2 %
37.3 %
37.4 %
37.5 %
37.6 %
37.7 %
37.8 %
37.9 %
38.0 %
38.1 %
38.2 %
38.3 %
38.4 %
38.5 %
38.6 %
38.7 %
38.8 %
38.9 %
39.0 %
39.1 %
39.2 %
39.3 %
39.4 %
39.5 %
39.6 %
39.7 %
39.8 %
39.9 %
40.0 %
40.1 %
40.2 %
40.3 %
40.4 %
40.5 %
40.6 %
40.7 %
40.8 %
40.9 %
41.0 %
41.1 %
41.2 %
41.3 %
41.4 %
41.5 %
41.6 %
41.7 %
41.8 %
41.9 %
42.0 %
42.1 %
42.2 %
42.3 %
42.4 %
42.5 %
42.6 %
42.7 %
42.8 %
42.9 %
43.0 %
43.1 %
43.2 %
43.3 %
43.4 %
43.5 %
43.6 %
43.7 %
43.8 %
43.9 %
44.0 %
44.1 %
44.2 %
44.3 %
44.4 %
44.5 %
44.6 %
44.7 %
44.8 %
44.9 %
45.0 %
45.1 %
45.2 %
45.3 %
45.4 %
45.5 %
45.6 %
45.7 %
45.8 %
45.9 %
46.0 %
46.1 %
46.2 %
46.3 %
46.4 %
46.5 %
46.6 %
46.7 %
46.8 %
46.9 %
47.0 %
47.1 %
47.2 %
47.3 %
47.4 %
47.5 %
47.6 %
47.7 %
47.8 %
47.9 %
48.0 %
48.1 %
48.2 %
48.3 %
48.4 %
48.5 %
48.6 %
48.7 %
48.8 %
48.9 %
49.0 %
49.1 %
49.2 %
49.3 %
49.4 %
49.5 %
49.6 %
49.7 %
49.8 %
49.9 %
50.0 %
50.1 %
50.2 %
50.3 %
50.4 %
50.5 %
50.6 %
50.7 %
50.8 %
50.9 %
51.0 %
51.1 %
51.2 %
51.3 %
51.4 %
51.5 %
51.6 %
51.7 %
51.8 %
51.9 %
52.0 %
52.1 %
52.2 %
52.3 %
52.4 %
52.5 %
52.6 %
52.7 %
52.8 %
52.9 %
53.0 %
53.1 %
53.2 %
53.3 %
53.4 %
53.5 %
53.6 %
53.7 %
53.8 %
53.9 %
54.0 %
54.1 %
54.2 %
54.3 %
54.4 %
54.5 %
54.6 %
54.7 %
54.8 %
54.9 %
55.0 %
55.1 %
55.2 %
55.3 %
55.4 %
55.5 %
55.6 %
55.7 %
55.8 %
55.9 %
56.0 %
56.1 %
56.2 %
56.3 %
56.4 %
56.5 %
56.6 %
56.7 %
56.8 %
56.9 %
57.0 %
57.1 %
57.2 %
57.3 %
57.4 %
57.5 %
57.6 %
57.7 %
57.8 %
57.9 %
58.0 %
58.1 %
58.2 %
58.3 %
58.4 %
58.5 %
58.6 %
58.7 %
58.8 %
58.9 %
59.0 %
59.1 %
59.2 %
59.3 %
59.4 %
59.5 %
59.6 %
59.7 %
59.8 %
59.9 %
60.0 %
60.1 %
60.2 %
60.3 %
60.4 %
60.5 %
60.6 %
60.7 %
60.8 %
60.9 %
61.0 %
61.1 %
61.2 %
61.3 %
61.4 %
61.5 %
61.6 %
61.7 %
61.8 %
61.9 %
62.0 %
62.1 %
62.2 %
62.3 %
62.4 %
62.5 %
62.6 %
62.7 %
62.8 %
62.9 %
63.0 %
63.1 %
63.2 %
63.3 %
63.4 %
63.5 %
63.6 %
63.7 %
63.8 %
63.9 %
64.0 %
64.1 %
64.2 %
64.3 %
64.4 %
64.5 %
64.6 %
64.7 %
64.8 %
64.9 %
65.0 %
65.1 %
65.2 %
65.3 %
65.4 %
65.5 %
65.6 %
65.7 %
65.8 %
65.9 %
66.0 %
66.1 %
66.2 %
66.3 %
66.4 %
66.5 %
66.6 %
66.7 %
66.8 %
66.9 %
67.0 %
67.1 %
67.2 %
67.3 %
67.4 %
67.5 %
67.6 %
67.7 %
67.8 %
67.9 %
68.0 %
68.1 %
68.2 %
68.3 %
68.4 %
68.5 %
68.6 %
68.7 %
68.8 %
68.9 %
69.0 %
69.1 %
69.2 %
69.3 %
69.4 %
69.5 %
69.6 %
69.7 %
69.8 %
69.9 %
70.0 %
70.1 %
70.2 %
70.3 %
70.4 %
70.5 %
70.6 %
70.7 %
70.8 %
70.9 %
71.0 %
71.1 %
71.2 %
71.3 %
71.4 %
71.5 %
71.6 %
71.7 %
71.8 %
71.9 %
72.0 %
72.1 %
72.2 %
72.3 %
72.4 %
72.5 %
72.6 %
72.7 %
72.8 %
72.9 %
73.0 %
73.1 %
73.2 %
73.3 %
73.4 %
73.5 %
73.6 %
73.7 %
73.8 %
73.9 %
74.0 %
74.1 %
74.2 %
74.3 %
74.4 %
74.5 %
74.6 %
74.7 %
74.8 %
74.9 %
75.0 %
75.1 %
75.2 %
75.3 %
75.4 %
75.5 %
75.6 %
75.7 %
75.8 %
75.9 %
76.0 %
76.1 %
76.2 %
76.3 %
76.4 %
76.5 %
76.6 %
76.7 %
76.8 %
76.9 %
77.0 %
77.1 %
77.2 %
77.3 %
77.4 %
77.5 %
77.6 %
77.7 %
77.8 %
77.9 %
78.0 %
78.1 %
78.2 %
78.3 %
78.4 %
78.5 %
78.6 %
78.7 %
78.8 %
78.9 %
79.0 %
79.1 %
79.2 %
79.3 %
79.4 %
79.5 %
79.6 %
79.7 %
79.8 %
79.9 %
80.0 %
80.1 %
80.2 %
80.3 %
80.4 %
80.5 %
80.6 %
80.7 %
80.8 %
80.9 %
81.0 %
81.1 %
81.2 %
81.3 %
81.4 %
81.5 %
81.6 %
81.7 %
81.8 %
81.9 %
82.0 %
82.1 %
82.2 %
82.3 %
82.4 %
82.5 %
82.6 %
82.7 %
82.8 %
82.9 %
83.0 %
83.1 %
83.2 %
83.3 %
83.4 %
83.5 %
83.6 %
83.7 %
83.8 %
83.9 %
84.0 %
84.1 %
84.2 %
84.3 %
84.4 %
84.5 %
84.6 %
84.7 %
84.8 %
84.9 %
85.0 %
85.1 %
85.2 %
85.3 %
85.4 %
85.5 %
85.6 %
85.7 %
85.8 %
85.9 %
86.0 %
86.1 %
86.2 %
86.3 %
86.4 %
86.5 %
86.6 %
86.7 %
86.8 %
86.9 %
87.0 %
87.1 %
87.2 %
87.3 %
87.4 %
87.5 %
87.6 %
87.7 %
87.8 %
87.9 %
88.0 %
88.1 %
88.2 %
88.3 %
88.4 %
88.5 %
88.6 %
88.7 %
88.8 %
88.9 %
89.0 %
89.1 %
89.2 %
89.3 %
89.4 %
89.5 %
89.6 %
89.7 %
89.8 %
89.9 %
90.0 %
90.1 %
90.2 %
90.3 %
90.4 %
90.5 %
90.6 %
90.7 %
90.8 %
90.9 %
91.0 %
91.1 %
91.2 %
91.3 %
91.4 %
91.5 %
91.6 %
91.7 %
91.8 %
91.9 %
92.0 %
92.1 %
92.2 %
92.3 %
92.4 %
92.5 %
92.6 %
92.7 %
92.8 %
92.9 %
93.0 %
93.1 %
93.2 %
93.3 %
93.4 %
93.5 %
93.6 %
93.7 %
93.8 %
93.9 %
94.0 %
94.1 %
94.2 %
94.3 %
94.4 %
94.5 %
94.6 %
94.7 %
94.8 %
94.9 %
95.0 %
95.1 %
95.2 %
95.3 %
95.4 %
95.5 %
95.6 %
95.7 %
95.8 %
95.9 %
96.0 %
96.1 %
96.2 %
96.3 %
96.4 %
96.5 %
96.6 %
96.7 %
96.8 %
96.9 %
97.0 %
97.1 %
97.2 %
97.3 %
97.4 %
97.5 %
97.6 %
97.7 %
97.8 %
97.9 %
98.0 %
98.1 %
98.2 %
98.3 %
98.4 %
98.5 %
98.6 %
98.7 %
98.8 %
98.9 %
99.0 %
99.1 %
99.2 %
99.3 %
99.4 %
99.5 %
99.6 %
99.7 %
99.8 %
99.9 %

In [147]:
df = pd.read_csv('../data/10k_ranked.csv')

In [148]:
df.head()

,Unnamed: 0,cell_id,id,cell_type,source,rank
0,0,1862f0a6,00001756c60be8,code,# This Python 3 environment comes with many he...,0
1,1,2a9e43d6,00001756c60be8,code,import numpy as np\nimport pandas as pd\nimpor...,2
2,2,038b763d,00001756c60be8,code,import warnings\nwarnings.filterwarnings('igno...,4
3,3,2eefe0ef,00001756c60be8,code,matplotlib.rcParams.update({'font.size': 14}),6
4,4,0beab1cd,00001756c60be8,code,"def evaluate_preds(train_true_values, train_pr...",8

In [149]:
all_languages = pd.read_csv('../raw_data/AI4Code/all_languages.csv')[['id', 'language']]
df = pd.merge(df, all_languages, how='left', on='id')
df = df[df['language'] == 'en']


#df['cell_order_training'] = np.where(df['cell_type'] == 'markdown', 0, df['rank'])

In [151]:
df = df.reset_index(drop=True)

In [152]:
df.head()

,Unnamed: 0,cell_id,id,cell_type,source,rank,language
0,58,8f84d7a9,000757b90aaca0,code,import pandas as pd\nimport spacy\nimport netw...,3,en
1,59,eb6ca769,000757b90aaca0,code,nlp = spacy.load('en_core_web_lg') #...,5,en
2,60,bc595bc2,000757b90aaca0,code,"plt.rcParams['figure.figsize'] = [10, 10] # m...",6,en
3,61,93cceeef,000757b90aaca0,code,rowlimit = 500 # this limits the ...,8,en
4,62,3cb3d383,000757b90aaca0,code,data.head(6),9,en

In [153]:
df['cell_order_training'] = np.where(df['cell_type'] == 'markdown', 0, df['rank'])

In [157]:
df.drop(columns='Unnamed: 0', inplace=True)

In [158]:
df.head()

,cell_id,id,cell_type,source,rank,language,cell_order_training
0,8f84d7a9,000757b90aaca0,code,import pandas as pd\nimport spacy\nimport netw...,3,en,3
1,eb6ca769,000757b90aaca0,code,nlp = spacy.load('en_core_web_lg') #...,5,en,5
2,bc595bc2,000757b90aaca0,code,"plt.rcParams['figure.figsize'] = [10, 10] # m...",6,en,6
3,93cceeef,000757b90aaca0,code,rowlimit = 500 # this limits the ...,8,en,8
4,3cb3d383,000757b90aaca0,code,data.head(6),9,en,9

In [181]:
df['id'].nunique()

9000

In [61]:
from nltk.stem import WordNetLemmatizer
import re

In [159]:
def preprocess_text(text):
    # Remove all the special characters
    text = re.sub(r'\W', ' ', text)
    # remove all single characters
    text = re.sub(r'\s+[a-zA-Z]\s+', ' ', text)
    # Remove single characters from the start
    text = re.sub(r'\^[a-zA-Z]\s+', ' ', text)
    # Substituting multiple spaces with single space
    text = re.sub(r'\s+', ' ', text, flags=re.I)
    # Removing prefixed 'b'
    text = re.sub(r'^b\s+', '', text)
    # Converting to Lowercase
    text = text.strip().lower()

    #return text
    # Lemmatization
    lemmatizer = WordNetLemmatizer()
    tokens = text.split()
    tokens = [lemmatizer.lemmatize(word) for word in tokens]
    tokens = [word for word in tokens if len(word) > 3]
    preprocessed_text = ' '.join(tokens)
    return preprocessed_text

In [160]:
from sklearn.feature_extraction.text import TfidfVectorizer

def preprocess_df(df, min_df=0.01):
    df['cell_type'] = df['cell_type'].map({'code': 0, 'markdown': 1})

    tqdm.pandas(desc="preprocessing du texte")
    df['source'] = df['source'].progress_apply(preprocess_text)

    vectorizer = TfidfVectorizer(min_df=min_df)
    source_vect = vectorizer.fit_transform(tqdm(df['source'], desc="Vectorisation"))
    source_vect = pd.DataFrame(
        source_vect.toarray(),
        columns = vectorizer.get_feature_names_out()
    )

    df = pd.concat([df, source_vect], axis=1)

    return df

In [161]:
df_preproc = preprocess_df(df)

preprocessing du texte: 100%|██████████| 417166/417166 [00:34<00:00, 11980.86it/s]
Vectorisation: 100%|██████████| 417166/417166 [00:03<00:00, 128807.22it/s]

In [180]:
df_preproc['id'].nunique()

9000

In [166]:
ancestors = pd.read_csv('../raw_data/AI4Code/train_ancestors.csv')

In [192]:
ancestors['id'].nunique()

139256

In [194]:
df_preproc_2 = pd.merge(df_preproc, ancestors, how='left', on='id')

In [195]:
df_preproc_2.head()

,cell_id,id,cell_type,source,rank,language,cell_order_training,about,above,accuracy,...,x_train,xlabel,y_pred,y_test,y_train,year,ylabel,your,ancestor_id,parent_id
0,8f84d7a9,000757b90aaca0,0,import panda import spacy import networkx real...,3,en,3,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ff3e6f37,NaN
1,eb6ca769,000757b90aaca0,0,spacy load en_core_web_lg more detailed model ...,5,en,5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ff3e6f37,NaN
2,bc595bc2,000757b90aaca0,0,rcparams figure figsize make output plot large...,6,en,6,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ff3e6f37,NaN
3,93cceeef,000757b90aaca0,0,rowlimit this limit tweet manageable number da...,8,en,8,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ff3e6f37,NaN
4,3cb3d383,000757b90aaca0,0,data head,9,en,9,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ff3e6f37,NaN

In [221]:
df_preproc_2.to_csv('../data/10k_preproc')

In [196]:
df_preproc_2['ancestor_id'].nunique()

8834

In [207]:
from sklearn.model_selection import GroupShuffleSplit

def train_val_split(df, test_size=0.1):
    df = df.reset_index(drop=True).set_index('id')
    splitter = GroupShuffleSplit(n_splits=1, test_size=test_size, random_state=0)
    # Split, keeping notebooks with a common origin (ancestor_id) together
    ids = df.index.unique('id')
    print(ids, ids.shape)
    ancestors = df.loc[ids, 'ancestor_id'].reset_index().drop_duplicates().set_index('id')
    print(ancestors, ancestors.shape)
    ids_train, ids_valid = next(splitter.split(ids, groups=ancestors))
    ids_train, ids_valid = ids[ids_train], ids[ids_valid]

    df_train = df.loc[ids_train, :]
    df_valid = df.loc[ids_valid, :]

    return df_train, df_valid

In [208]:
df_train, df_val = train_val_split(df_preproc_2)

Index(['000757b90aaca0', '000af347c31e72', '000fce1d6fbb6a', '002b5d330ee1ec',
       '002f895d088a9e', '004f5132c0b01c', '005f1abed1ba8a', '0064d9181701a2',
       '0074d80f6910fa', '0077214cf95e83',
       ...
       'ffc7196c36d684', 'ffccaad7a9a626', 'ffd5a56a09bb95', 'ffd60f1ce95983',
       'ffda671486b0d6', 'ffe20f3620057d', 'ffe69d93f7d21d', 'ffe8d0aa5e7d68',
       'fff253383c48e3', 'fffbd2e276f908'],
      dtype='object', name='id', length=9000) (9000,)
               ancestor_id
id
000757b90aaca0    ff3e6f37
000af347c31e72    e94552a4
000fce1d6fbb6a    b2f39261
002b5d330ee1ec    7cc203ad
002f895d088a9e    de1c123a
...                    ...
ffe20f3620057d    9ab0faf5
ffe69d93f7d21d    4df0d0c8
ffe8d0aa5e7d68    7d647f1d
fff253383c48e3    07590ca9
fffbd2e276f908    5b77f02e

[9000 rows x 1 columns] (9000, 1)

In [216]:
df_train.index.nunique()

8092

In [217]:
df_val.index.nunique()

908

In [219]:
df_train.drop(columns=['cell_id', 'source', 'language', 'ancestor_id', 'parent_id'], inplace=True)

In [222]:
df_train.reset_index(drop=True, inplace=True)

In [1]:
df_train.head()

NameError: name 'df_train' is not defined

In [224]:
df_val.drop(columns=['cell_id', 'source', 'language', 'ancestor_id', 'parent_id'], inplace=True)
df_val.reset_index(drop=True, inplace=True)
df_val

,cell_type,rank,cell_order_training,about,above,accuracy,accuracy_score,after,also,analysis,...,word,x_test,x_train,xlabel,y_pred,y_test,y_train,year,ylabel,your
0,0,3,3,0.0,0.0,0.0,0.0,0.0,0.0,0.177435,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
1,0,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.291537,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
2,0,6,6,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
3,0,8,8,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
4,0,9,9,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43088,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.229057
43089,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
43090,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
43091,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
43092,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000

In [225]:
df_val.to_csv('../data/val_10k.csv')
df_train.to_csv('../data/train_10k.csv')

# TRAINING

In [ ]:
def train_XGBRanker():

    config_defaults = {"booster":'gbtree',
                   "objective":'rank:pairwise',
                   "random_state":24,
                   "learning_rate":0.1,
                   "n_estimators":110}

    # Initiate the model
    model = XGBRanker(booster=config.booster,
                      objective=config.objective,
                      random_state=config.random_state,
                      learning_rate=config.learning_rate,
                      n_estimators=config.n_estimators)

    # Train the model
    model.fit(X_train, y_train, group=groups, verbose=True)

    # Create df containing the cell_id and the prediction
    predict = pd.DataFrame({"cell_id" : df_valid["cell_id"],
                            "pred" : model.predict(X_valid)}, index = df_valid.index)

    # Sort (using the predicted rank) and then group
    predict = predict.sort_values(by = ['id', 'pred'], ascending = [False, True])\
                        .groupby('id')['cell_id'].apply(list)

    # Create the same but for actual data
    actual = df_valid.sort_values(by = ['id', 'rank'], ascending = [False, True])\
                            .groupby('id')['cell_id'].apply(list)

    # Kendall Metric
    metric = kendall_tau(actual, predict)
    print(clr.S+"Kendall Tau"+clr.E, metric)
    wandb.log({"kendall_tau": np.float(metric)})

In [ ]:
import xgboost as xgb
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np
from scipy import sparse
from sklearn.model_selection import train_test_split

# Exemple de DataFrame (extrait)
data = {
    'cell_id': ['ba54a747', 'ede4241f', 'fb42ece2', '36b989a3', '2fa559cb', 'b91fc1a4', '649083d4', '97c1bb21', '148274fd', '7f40f579', '92a7ccd5', '9ed48867', 'a791bdcd'],
    'cell_type': ['markdown', 'code', 'markdown', 'code', 'markdown', 'code', 'markdown', 'code', 'code', 'code', 'code', 'markdown', 'code'],
    'source': ['sample submission this notebook example make s...', 'import panda import numpy', 'following function help reduce memory usage ta...', 'function reduce size reduce_mem_usage verbose ...', 'load data', 'train read_csv kaggle input bdg2 class competi...', 'want function defined before reduce memory usage', 'train reduce_mem_usage train test reduce_mem_u...', 'metadata info', 'train info', 'wtrain info', 'missing value going drop column from metadata ...', 'metadata isna metadata'],
    'id': ['000597ac4c6700'] * 13,
    'cell_order': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
    'cell_order_training': [0, 1, 0, 3, 0, 5, 0, 7, 8, 9, 10, 0, 12]
}
df = pd.DataFrame(data)

# Séparation des données en ensembles d'entraînement et de test
df_train, df_test = train_test_split(df, test_size=0.2, random_state=42, stratify=df['id'])

# Vectorisation TF-IDF sur la colonne 'source'
tfidf = TfidfVectorizer(min_df=0.01)
X_train_tfidf = tfidf.fit_transform(df_train['source'].astype(str))
X_test_tfidf = tfidf.transform(df_test['source'].astype(str))

# Préparation des caractéristiques finales
X_train = sparse.hstack((X_train_tfidf, df_train[['cell_order_training']].to_numpy().reshape(-1, 1)))
X_test = sparse.hstack((X_test_tfidf, df_test[['cell_order_training']].to_numpy().reshape(-1, 1)))

# Préparation des étiquettes d'entraînement
y_train = df_train['cell_order'].to_numpy()
y_test = df_test['cell_order'].to_numpy()

# Groupes pour l'entraînement
groups_train = df_train.groupby('id').size().to_numpy()
groups_test = df_test.groupby('id').size().to_numpy()

# Initialiser le modèle
model = xgb.XGBRanker(
    tree_method="hist",
    objective="rank:ndcg",
    eval_metric="ndcg",
    eta=0.1,
    max_depth=6
)

# Entraîner le modèle
model.fit(X_train, y_train, group=groups_train)

# Exemple de prédiction
y_pred = model.predict(X_test)

print(y_pred)